<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liczba osób znajdujących się na zdjęciu. - Cairocoders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="page-header text-center">Liczba osób znajdujących się na zdjęciu.</h1>

    {% block content %}

    {% endblock content %}
</div>
</body>
</html>