{% extends 'base.html' %}
 
{% block content %}
<div class="row">
    <form action="/upload-files/" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <label>Załaduj zdjęcie</label>
            <input class="form-control form-control-lg" name="files" type="file" multiple accept=".jpg, .png">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary btn-lg">
        </div>
    </form>
    <div class="col-12">
    {% for rs in show %}

        <div style="padding:20px;float:left;">
            <img width="500" height="300" src="{{ url_for('images', path=rs) }}">
        </div>
        <div style="padding:20px;float:left;">
        </div>

    {% endfor %}
    </div>
        <div class="col-12">
    {% for i in text %}

        <div style="padding:20px;float:left;">
            <h1>Ilość osób: {{ i }}</h1>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock content %}